#wrapper {
  width : 85% ; 
  float : right ; 
  height : 100vh ; 
   background-color :#F6F5F6;
   display: flex;
   justify-content: center;
   align-items: center;
   
  align-content : space-around ; 
  flex-direction : column ;
}

#title {
  width : 100% ; 
  height : 15% ; 
  position : relative ; 
  box-sizing : border-box ; 
  border-bottom : 3px solid #6C6674 ; 
  text-align : center ; 
   
  max-width : 100% ; 
  background-color :#DBD9DE; 
} 

#title h1 {
  margin-top: 50px; 
  color : #6C6674 ; 
  font-size : 38px ; 
  font-weight : 600;  
  max-height : 10% ; 
  
} 



.container {
margin : 0 auto; 
width : 80% ; 
height : 83% ; 
margin-top : 2% ; 
position : relative ;
text-align : center ; 
} 

#tabMenu { 
  float : left; 
  width : 100%; 
  height : 90%;
  
}

#tabMenu input[type="radio"] {
  display: none ; 
}   

#tabMenu label { 
  display : inline-block ; 
  margin : 0 0 ; 
  padding : 15px 25px;  
  font-weight : bolder ;
  font-size : 18px; 
  text-align : center ; 
  color : black ; 
  border : 1px solid transparent ; 
  background-color:#F8F3FE ;
  box-shadow : 4px -4px rgb(0, 0,0, 0.5) ; 
}

#tabMenu label:hover {
  color : #736C7E ;
  cursor : pointer ; 
} 
 
#tabMenu input:checked+label {
  color : #b00 ; 
  border : 1px sollid #ddd; 
  background-color: #C1BACE ; 
} 

.tabContent {
  display : none ; 
  padding : 20px 0 0 ;
  border-top : 1px solid #ddd; 
  border : 2px solid #ddd ; 
  height :  95%; 
  width : 90%; 
  oversize : hidden ; 
  margin : 0 auto ; 
}

#definition {
  list-style : disc ; 
  margin : 0 auto; 
  text-align : start ; 
  width : 100%; 
  height : 100% ; 
  padding : 50px 50px ; 
  padding-top : 70px ; 
  padding-bottom : 70px; 
  
}

#definition h1 {
  font-size : 19px ; 
  font-weight : 600 ; 
  color : #5A4D6C ; 
  padding-top : 10px ; 
  padding-left : 30px ;  
}



#definition p {
  font-size : 17px ; 
  font-weight : 500 ; 
  color : #58545E; 
  padding-top : 5px ; 
} 

#definition img { 
  text-align : center ; 
  max-height : 70% ;
  max-width : 100% ; 
  margin : 0 auto; 
  height: auto;
  display: block;
  padding-top : 30px;
}

#time {
  list-style : disc ; 
  margin : 0 auto; 
  text-align : start ; 
  width : 100%; 
  height : 100% ; 
  padding : 50px 50px ; 
  padding-top : 70px ; 
  padding-bottom : 70px; 
}

#time h1 {
  font-size : 19px ; 
  font-weight : 600 ; 
  color : #5A4D6C ; 
  padding-top : 10px ; 
  padding-left : 30px ; 
}



#time p {
  font-size : 17px ; 
  font-weight : 500 ; 
  color : #58545E; 
  padding-top : 5px ;  
} 



#tab1:checked~#definition, 
#tab2:checked~#time { 
  display : block ; }